body {

  background-image: url("burger2.jpg");
  background-attachment: fixed;
  
}
h1 {
  text-align: center;
  color: rgb(46, 46, 46);
  padding: 50px;
  background: brown;
  color: black;
  -webkit-text-fill-color:White; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 100px;
  border-radius: 200px;


}
#ate {
  float: left;
  text-align: center;
  
 
}

#eat {
  float: left;
  text-align: center;


  
}
#add {
  padding: 20px;
  background: lightgrey;
  margin: 50px;
  text-align: center;
  clear:left;
  border-style: solid;
  
}
button {
  background: rgb(142, 142, 244);
  margin-top: 5px;
  border-radius: 4px;
  color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
}
button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  } 
  button:hover {
    background-color: rgb(89, 89, 247);
  /*  Making button bigger on hover  */
    transform: scale(1.1) perspective(1px);
    color: white
  }

/* p {
  background: rgb(238, 238, 238);
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
} */
h2 {
  color: rgb(89, 89, 247);
}
#addBurger {
  color: red;
}

#pic {
  float: left;
  /* margin: 0 10px 0 10px; */
  text-align: center;
  
  
}
img {
    width: 300px;
    height: 400px;
    text-align: center;
    
    
}

#main {
  padding: 20px;
  background: lightgrey;
  margin: 20px;
  border-style: solid;
 
  

}

#nav{
  text-align: center;
}


